body {
    background-image: url(https://miro.medium.com/v2/resize:fit:4800/format:webp/0*O1IbxjCZ0LaEKFJq.jpeg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

h1, p {
    margin: 1em auto;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 5);
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    background: transparent;
    border: 2px solid rgba(197, 97, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(28, 0, 46, 0.5);
}

fieldset {
    border: none;
    padding: 1rem 0;
    border-bottom: 1px solid #3b3b4f;
}

label {
    display: block;
    margin: 0.5rem 0;
    color: rgb(232, 219, 255);
    text-shadow: 1px 1px rgba(0, 0, 0, 5);
}
  
input,
textarea,
select,
button {
    margin: 10px 0 0 0;
    width: 99%;
    min-height: 2em;
    background-color: #21007a;
    border: 1px solid #00003b;
    color: #ffffff;
}

.inline input{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}



